<div class="interface">
  <h1 class="title">Dobrodošli na admin sučelje - NK "Mladost" Čačinci</h1>
  <div class="interface-wrapper">
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card hoverable blue darken-4">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s6 m6 l4">
                <i class="material-icons interface-icons">description</i>
              </div>
              <div class="col s6 m6 l8 text-right">
                <h2>članaka</h2>
                <p class="count-number"><%= @articles.size %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card hoverable blue darken-4">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s6 m6 l4">
                <i class="material-icons interface-icons">event</i>
              </div>
              <div class="col s6 m6 l8 text-right">
                <h2>događaja</h2>
                <p class="count-number"><%= @events.size %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card hoverable blue darken-4">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s6 m6 l4">
                <div class="social">
                <i class="material-icons interface-icons">group</i>
                </div>
              </div>
              <div class="col s6 m6 l8 text-right">
                <h2>kategorije</h2>
                <p class="count-number"><%= @categories.size %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
