<% provide(:title, "Login") %>
<div class="login-form">
  <%= simple_form_for User.new, as: :session, url: session_path do |f| %>

    <%= image_tag "logoMladost.png", class: "login-logo" %>
    <div class="card">

      <div class="card-action">
        <%= f.input :email %>

        <%= f.input :password %>

        <div class="center-align">
          <%= f.button :button, "Login" %>
        </div>
      </div>

    </div>
  <% end %>
</div>




