<%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "Odaberi uzrasnu kategoriju", class: "select-wrapper") %>
<%= f.collection_select(:competition_id, Competition.all, :id, :name, prompt: "Odaberi natjecanje", class: "select-wrapper") %>
<%= f.input :matchday %>
<%= f.input :place %>
<%= f.input :game_date, class: "datepicker active", html5: true %>
<%= f.input :game_time %>
<%= f.input :home_team %>
<%= f.input :home, as: :attachinary %>
<%= f.input :away_team %>
<%= f.input :away, as: :attachinary %>
