<% provide(:title, "Uredi događaj") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Uredi događaj</h1>

    <%= simple_form_for [:admin, @event] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi promjene" %>
    <% end %>
  </div>
</div>

