<% provide(:title,"Lista događaja") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
  <h1>Lista događaja</h1>
  <%= link_to "Dodaj novi događaj", new_admin_event_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Uzrast</th>
          <th>Liga</th>
          <th>Kolo</th>
          <th>Domaćin</th>
          <th>Domaćin logo</th>
          <th>Gost</th>
          <th>Gost logo</th>
          <th>Datum</th>
          <th>Uredi</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.category.name if event.category %></td>
            <td><%= event.competition.name if event.competition %></td>
            <td><%= event.matchday %></td>
            <td><%= event.home_team %></td>
            <td><%= events_image_tag(event, :small) %></td>
            <td><%= event.away_team %></td>
            <td><%= events_away_tag(event, :small) %></td>
            <td><%= event.game_date %></td>
            <td><%= link_to edit_admin_event_path(event) do %>
              <i class="material-icons edit-event">mode edit</i>
            <% end %>
            </td>
            <td><%= link_to admin_event_path(event), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @events %>

  </div>
</div>
