<% provide(:title, "Novi događaj") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>kreiraj novi događaj</h1>

    <%= simple_form_for [:admin, @event] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "kreiraj događaj" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "collection" %>

