<%= f.input :title %>
<%= f.input :image, as: :attachinary %>
<%= f.input :short_description, wrapper: :vertical_text_input, as: :text %>

<%= f.input :body do %>
  <%= f.input_field :body, as: :text, class: "materialize-textarea text required" %>
  <%= link_to "Markdown help", "http://assemble.io/docs/Cheatsheet-Markdown.html", target: "_blank", class: "pull-right markdown" %>
<% end %>

<% if f.object.persisted? %>
  <%= f.input :slug %>
<% end %>

<%= f.input :published_on, label: false do %>
  Objavljeno
  <%= f.input :published %>
  na
  <%= f.text_field :published_on, placeholder: "Datum", class: "datepicker active", html5: true %>
<% end %>
