<% provide(:title, "Home") %>
<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Lista članaka</h1>
    <%= link_to "Dodaj novi članak", new_admin_article_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th class="t-small">Naslov</th>
          <th class="t-medium">Slug</th>
          <th class="t-small">Slika članka</th>
          <th class="t-medium">Datum</th>
          <th class="t-smass">Objavljeno</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, edit_admin_article_path(article) %></td>
            <td><%= article.slug %></td>
            <td><% if article.image.present? %>
              <%= article_image_tag(article, :small) %>
            <% else %>
              <%= article_image_tag(article, :no_image) %>
            <% end %></td>
            <td><%= article_date article %></td>
            <td><%= human_name_for_boolean article.published %></td>
            <td><%= link_to admin_article_path(article), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @articles %>

  </div>
</div>
