<% provide(:title, "Kreiraj novi članak") %>

<div class="form-wrapper">
  <div class="card-panel hoverable">

    <h1>Kreiraj novi članak</h1>

    <%= simple_form_for [:admin, @article] do |f| %>
      <%= render 'form', f: f %>
      <%= f.button :button, "Kreiraj članak" %>
    <% end %>
  </div>
</div>
