<% provide(:title, "uredi ljestvicu") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Uredi ljestvicu</h1>

    <%= simple_form_for [:admin, @championship] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi spremi promjene" %>
    <% end %>
  </div>
</div>
