<% provide(:title,"Natjecanja") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Natjecanja
      <%= link_to "Dodaj novi tim", new_admin_championship_path, class: "waves-effect waves-light btn button1" %></h1>
  </div>
  <div class="row">
    <% Championship.all.order('points DESC').group_by{|champ| champ.category.name}.each do |category, champs| %>
      <div class="col s12 m12 l6">
        <div class="card-panel hoverable">
          <p class="category-name"><%= category %></p>
          <table class="highlight bordered">
            <thead>
              <tr>
                <th>Pos</th>
                <th>Team</th>
                <th>P</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>Pts</th>
                <th>Uredi</th>
                <th>Obriši</th>
              </tr>
            </thead>
            <tbody>
              <% champs.each_with_index do |championship, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= championship.team %></td>
                  <td><%= best_in_place [:admin, championship], :games_played, as: :input %></td>
                  <td><%= best_in_place [:admin, championship], :wins, as: :input %></td>
                  <td><%= best_in_place [:admin, championship], :draws, as: :input %></td>
                  <td><%= best_in_place [:admin, championship], :lost, as: :input %></td>
                  <td><%= best_in_place [:admin, championship], :goal_difference, as: :input %></td>
                  <td><%= best_in_place [:admin, championship], :points, as: :input %></td>
                  <td><%= link_to edit_admin_championship_path(championship) do %>
                    <i class="material-icons edit-event">mode edit</i>
                  <% end %>
                  </td>
                  <td><%= link_to admin_championship_path(championship), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
                    <i class="material-icons">delete</i>
                  <% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  </div>
</div>
