<% provide(:title, "Kreiraj ljestvicu") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Dodaj novi tim u ljestvicu</h1>

    <%= simple_form_for [:admin, @championship] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi" %>
    <% end %>
  </div>
</div>
