<li class="<%= 'active' if current_page?(new_admin_article_path) || current_page?(admin_articles_path) %>"><%= link_to "", class: "dropdown-button", "data-activates" => "dropdown-articles" do %>Članci
    <i class="material-icons right">arrow_drop_down</i>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_admin_competition_path) || current_page?(admin_competitions_path) %>"><%= link_to "", class: "dropdown-button", "data-activates" => "dropdown-competitions" do %>Natjecanja
    <i class="material-icons right">arrow_drop_down</i>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_admin_event_path) || current_page?(admin_events_path) %>"><%= link_to "", class: "dropdown-button", "data-activates" => "dropdown-events" do %>Događaji
    <i class="material-icons right">arrow_drop_down</i>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_admin_category_path) || current_page?(admin_categories_path) %>"><%= link_to "", class: "dropdown-button", "data-activates" => "dropdown-categories" do %>Dobne kategorije
    <i class="material-icons right">arrow_drop_down</i>
  <% end %>
</li>
<li class="<%= 'active' if current_page?(new_admin_championship_path) || current_page?(admin_championships_path) %>"><%= link_to "", class: "dropdown-button", "data-activates" => "dropdown-championships" do %>Ljestivce
    <i class="material-icons right">arrow_drop_down</i>
  <% end %>
</li>
<ul id="dropdown-articles" class="dropdown-content">
  <li><%= link_to "Kreiraj članak", new_admin_article_path %></li>
  <li><%= link_to "Lista članaka" , admin_articles_path %></li>
</ul>
<ul id="dropdown-competitions" class="dropdown-content">
  <li><%= link_to "Kreiraj natjecanje", new_admin_competition_path %></li>
  <li><%= link_to "Lista natjecanja", admin_competitions_path %></li>
</ul>
<ul id="dropdown-events" class="dropdown-content">
  <li><%= link_to "Kreiraj događaj", new_admin_event_path %></li>
  <li><%= link_to "Pregled događaja", admin_events_path %></li>
</ul>
<ul id="dropdown-categories" class="dropdown-content">
  <li><%= link_to "Kreiraj dobnu kategoriju", new_admin_category_path %></li>
  <li><%= link_to "Pregled dobnih kategorija", admin_categories_path %></li>
</ul>
<ul id="dropdown-championships" class="dropdown-content">
  <li><%= link_to "Kreiraj ljestvicu", new_admin_championship_path %></li>
  <li><%= link_to "Pregled ljestvica", admin_championships_path %></li>
</ul>
