<ul id="slide-out" class="side-nav">
  <li><div class="userView">
      <%= image_tag "admin-background.jpg", class: "admin-background" %>
      <% if signed_in? %>
        <div class="user-initials">
          <span><%= current_user_initials %></span>
        </div>
          <%= link_to "Odjava", sign_out_path, method: :delete, class: "logout" %>
      <% end %>
    </div></li>

    <%= render "layouts/admin/sidebar_menu" %>

</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

