<div id="new_image_modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Dodaj sliku</h4>
    <div class="modal-body">
      <%= simple_form_for [:admin, Image.new], remote: true do |f| %>
        <%= f.attachinary_file_field :attachment %>

        <%= f.button :button, "Koristi sliku", class: "modal-confirm" %>
        <a class="waves-effect waves-teal btn-flat" data-dismiss="modal">Odustani</a>
      <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Zatvori</a>
    </div>
  </div>
