.edit-event {
  color: #4caf50;
  margin-top: -20px;
}
.delete {
  color: #f44336;
}
.pagination {
  margin-top: 30px;
  text-align: right;
}
.pagination li {
  margin: 0px 2px;
  padding-top: 3px;
}
.next_page, .previous_page {
  padding-top: -3px;
}
.pagination li.active {
  background-color: #42a5f5;
  padding: 3px 6px;
  color: #fff;
}
