/* article-form-style */
.input-field label {
  left: 0px;
  color: #0d47a1;
}
input {
  border-bottom: 1px solid #0d47a1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 1px solid #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field .prefix.active {
  color: #0d47a1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #0d47a1;
}
.input-field textarea[class=materialize-textarea]:focus + label {
  color: #0d47a1;
}
button.waves-effect.waves-light.btn {
  margin-top: 20px;
  background-color: #0d47a1;
}
label.attachinary.required {
  margin-top: -35px;
}
form div {
  padding-bottom: 20px;
}
select {
  display: list-item;
}
/* article new style */
.create-wrapper {
  margin: 20px 40px;
}
.markdown {
  float: right;
}
.form-wrapper h1, .create-wrapper h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
.form-wrapper {
  margin: 30px;
}

/* event form */
.initialized {
  display: none;
}
.select-wrapper ul li span {
  color: #0d47a1;
}
.input-field input[type=date]:focus {
  border-bottom: 2px solid #0d47a1;
  color: #0d47a1;
}
.input-field input[type=date]:focus + label{
  color: #0d47a1;
}

.button1 {
  background-color: #0d47a1;
  float: right;
}
.button1:hover {
  background-color: #b71c1c;
}
