.nav-wrapper {
  background: #0d47a1;
}
.admin-logo {
  height: 50px;
  width: 50px;
  margin:7px;
  margin-left: 50px;
}

@media (max-width: 992px) {
  .admin-logo {
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}

