.interface-wrapper {
  padding-top: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
}
.interface-icons {
  font-size: 80px;
  padding-top: 40px;
}
.interface-wrapper h2 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  text-align: right;
}
.count-number {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}
.title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #b71c1c;
  margin-top: 40px;

}
@media(min-width: 1200px) {
  .interface-wrapper {
    width: 1200px;
  }
}
