.side-nav {
  width: 300px;
}
.admin-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 200px;
}

.user-initials {
  width: 60px;
  height: 60px;
  background-color: #0d417a;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.user-initials span {
  position: relative;
  top: 12px; /* 25% of parent */
  font-size: 30px; /* 50% of parent */
  line-height: 30px; /* 50% of parent */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.logout {
  color: #fff !important;
  font-weight: bold;
}

.email {
  margin-top: 0px;
}
i.right {
  margin-top: 20px;
}
.dropdown-content li a {
  color: #424242;
}
.sublink {
  line-height: none;
}
@media (min-width: 992px) {
  .button-collapse {
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: 700;
    color: #ffffff;
  }
}
@media (max-width: 992px) {
  .button-collapse {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #ffcdd2;
  }
}

