<% provide(:title, "Juniori") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Juniori - NK Mladost</h2>
          <%= image_tag "juniors.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Bolješić Jakov</li>
                  <li>Buneta Ivan</li>
                  <li>Bušljeta Ivan</li>
                  <li>Bušljeta Marko</li>
                  <li>Falat Toni</li>
                  <p class="coach">Trener - <b>Jurica Kraljik</b></p>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Jukić Marko</li>
                  <li>Lazar Marko</li>
                  <li>Milosavljević Alen</li>
                  <li>Morović David</li>
                  <li>Radić Abel</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Stražanac Kristijan</li>
                  <li>Tomić Andrej</li>
                  <li>Tomić Ante</li>
                  <li>Vrhovski Ivan</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
