<% provide(:title, "Pioniri") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Pioniri - NK Mladost</h2>
          <%= image_tag "pioniri.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Grabovac Marko</li>
                  <li>Jurenec Patrik</li>
                  <li>Jusup Tin</li>
                  <li>Kratzl Ivan</li>
                  <li>Kratzl Petar</li>
                  <p class="coach">Trener - <b>Velimir Tresk</b></p>
              </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Krmpotić Nikola</li>
                  <li>Medarić Gabrijel</li>
                  <li>Milak Marin</li>
                  <li>Ognjenović Antonijo</li>
                  <li>Ognjenović Matija</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Poje Domagoj</li>
                  <li>Rukavina Matej</li>
                  <li>Tomić Tomislav</li>
                  <li>Videc Mihael</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
