<% provide(:title, "Seniori") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Seniori - NK Mladost</h2>
          <%= image_tag "seniors.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Biondić Boris</li>
                  <li>Cuca Luka</li>
                  <li>Čilag Matko</li>
                  <li>Čorda Luka</li>
                  <li>Čavić Stipe</li>
                  <li>Erceg Tomislav</li>
                  <p class="coach">Trener - <b>Velimir Tresk</b></p>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Kraljik Jurica</li>
                  <li>Makovec Stjepan</li>
                  <li>Maršić Vlado</li>
                  <li>Milosavljević Steffan-Goran</li>
                  <li>Milovac Marin</li>
                  <li>Mroz Ivan</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Mroz Josip</li>
                  <li>Mužar Ivan</li>
                  <li>Nađ Zdenko</li>
                  <li>Ninčević Domagoj</li>
                  <li>Varjačić Marin</li>
                  <li>Žagar Kruno</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
