<% provide(:title, "Selekcija u10") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Selekcija u10 - NK Mladost</h2>
          <%= image_tag "juniors.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Grubišić Ante</li>
                  <li>Hat Alen</li>
                  <li>Jerbić Luka</li>
                  <li>Jovanović Petar</li>
                  <p class="coach">Trener - <b>Saša Tir</b></p>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Kokoška Leon</li>
                  <li>Lokner Klaudio</li>
                  <li>Matešić Miko</li>
                  <li>Ognjenović Kristijan</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Ognjenović Romano</li>
                  <li>Peček Mislav</li>
                  <li>Vukovski Luka</li>
                  <li>Zuanović Marin</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
