<% provide(:title, "Selekcija u12") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Selekcija u12 - NK Mladost</h2>
          <%= image_tag "u12.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Anđelić Ivano</li>
                  <li>Arsin Domagoj</li>
                  <li>Barukčić Matko</li>
                  <li>Bušljeta Sven</li>
                  <li>Cingel Roberto</li>
                  <li>Jelenčić Ivan</li>
                  <p class="coach">Trener - <b>Ivan Mroz</b></p>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Kapraljević Luka</li>
                  <li>Koprivica Luka</li>
                  <li>Koprivica Niko</li>
                  <li>Lipovac Leon</li>
                  <li>Mađarić Robert</li>
                  <li>Milosavljević Mario</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Mrvelj Sanjin</li>
                  <li>Pleša Noa</li>
                  <li>Samardžić Tin</li>
                  <li>Zubak Frane</li>
                  <li>Župan Borna</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
