<% provide(:title, "Selekcija u8") %>

<div class="teams">
  <%= render "team/partials/header" %>
  <div class="teams-wrapper">
    <div class="row">
      <div class="col s12 m3 l2">
        <div class="card">
          <%= render_team_menu %>
        </div>
      </div>
      <div class="col s12 m9 l10">
        <div class="team-category-wrapper">
          <h2>Selekcija u8 - NK Mladost</h2>
          <%= image_tag "u8.jpg", class: "team-category-image" %>
          <div class="row">
            <div class="team-players">
              <div class="col s12 m12 l4">
                <ul>
                  <li>Beštek Ivan</li>
                  <li>Bolješić Lovro</li>
                  <li>Cingel Ilija</li>
                  <li>Grdić Tin</li>
                  <li>Hečimović Niko</li>
                  <li>Hečimović Noa</li>
                  <p class="coach">Trener - <b>Eljfat Mehmedi</b></p>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Jurlina Šime</li>
                  <li>Matešić Toma</li>
                  <li>Mikec Jakov</li>
                  <li>Mikec Petar</li>
                  <li>Milak Toni</li>
                  <li>Pranjić Tadeo</li>
                </ul>
              </div>
              <div class="col s12 m12 l4">
                <ul>
                  <li>Samardžić Ante</li>
                  <li>Stojanović Domagoj</li>
                  <li>Terlević Marko</li>
                  <li>Trupina Antonio</li>
                  <li>Zebec Mihovil</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
