<% provide(:title, "Uredi kategoriju") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Uredi kategoriju</h1>

    <%= simple_form_for [:admin, @category] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi promjene" %>
    <% end %>
  </div>
</div>
