<% provide(:title,"Uzrasne kategorije") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Lista uzrasnih kategorija</h1>
    <%= link_to "Dodaj uzrasnu kategoriju", new_admin_category_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Uzrasna kategorija</th>
          <th>Uredi</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= link_to edit_admin_category_path(category) do %>
              <i class="material-icons edit-event">mode edit</i>
            <% end %>
            </td>
            <td><%= link_to admin_category_path(category), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @categories %>

  </div>
</div>
