<% provide(:title, "Nova kategorija") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>kreiraj novu kategoriju</h1>

    <%= simple_form_for [:admin, @category] do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "kreiraj kategoriju" %>
    <% end %>
  </div>
</div>
