<% provide(:title, "Novosti") %>

<div class="blog">
  <div class="header-image-wrapper">
    <%= image_tag("articles.jpg", class: "header-image") %>
    <h4>Novosti</h4>
  </div>
  <div class="blog-wrapper">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col s12 m12 l6">
          <div class="card">
            <%= article_image_tag(article, :mix) %>
            <div class="article-header">
              <h2><%= link_to_article article %></h2>
              <p><%= md_to_html article.short_description %></p>
            </div>
            <div class="divider"></div>
            <div class="article-footer">
              <p><i class="material-icons">create</i>
              <%= article_date article %>
              <span><%= link_to_article article, text: "Pročitajte više" %></span></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= will_paginate @articles %>
  </div>
</div>
