<% provide(:title, "Povijest kluba") %>

<div class="history">
  <div class="header-image-wrapper">
    <%= image_tag("articles.jpg", class: "header-image") %>
    <h4>Povijest kluba</h4>
  </div>
  <div class="history-wrapper">
    <div class="card history-text">
      <div class="row">
        <div class="col s12 m6 l4">
          <%= image_tag "logoMladost.png", alt: "Logo NK Mladost", class: "history-logo" %>
        </div>
        <div class="col s12 m6 l8">
          <p>Povijest nogometnog kluba Mladost seže još u davnu 1929. godinu kada je odigrana prijateljska utakmica između ...... ....  . Ta 1929. godina se smatra kao početak razvoja nogometa u Čačincima. Ti počeci razvoja nogometa u Čačincima vezani su uglavnom uz učenike koji su putovali vlakom u građansku školu u Podravskoj Slatini, kao i studente, trgovačke pomoćnike i ostale mještane, a među kojima su se najviše isticali Paljko Babinko, Lacika Heler, Nac Hrčan, Branko Maglaić, Braco Paunović, Milan Trlecki i stanovnicima mjesta njemačke narodnosti. 1932. godinde mještani njemačke narodnosti osnivaju Švapsko njemački prosvjetni savez (Kulturbund) sa predsjednikom Karlom Kleppom. Kulturbund je dobio zgradu na uglu Mlinske i Rajnopoljske ulice kako bi razvijali kulturno zabavni život. U blizini zgrade je bilo nogometno igralište na kojemu su se odvijale športske aktivnosti.</p>
        </div>
        <p>U 1938. godini u gostionici Seke na željezničkoj stanici osnovan je nogometni klub <b>NK Slavonija Čačinci.</b> Osnivači su zacrtali odmah opočeti sa treninzima pod vodstvom trenera Lovre Mirkovića, a za igrališe je odabrano mjesto na pašnjaku Vranovac. Na tome mjestu je odigrano nekoliko utakmica. Izvaja se pobjeda od 4:2 protiv Zrinskog iz Bukovice, kao i pobjeda igrača NK Slavonije od 3:1 protiv momčadi Kulturbunda. Napominjemo svi igrači kulturbunda su inače igrali za NK Slavoniju ali u ovoj prijateljskoj su igrali proti NK Slavonije.</p>
        <p><u><b>Ratno zadoblje 1941. - 1943.</b></u><br>Zbog ratnog stanja igralište se sa Vranovca prebacilo u Eroplansku ulicu gdje je igralište bilo postavljeno na kukuruzištu. U NK Slavoniji mnogi su igrači prestali igrati zbog rata,ali se pojavljuju novi: Ivan Sertić iz Lipovačke ulice, Karl Terek, Majer iz Drenovca, braća Mayer, Homann te Stevo Benotić i Stevo Karapetrić iz Zdenaca. Organizirano je i prvenstvo Donje Podravine. NK Slavonija je ubilježila pobjede protiv Crnca i Moslavine sa po 4:0, međutim, kako je bilo ratno stanje, prvenstvo nije završeno. Nogomet postaje sve masovniji što se odražava na stvaranje novih ekipa, a i po masovnosti gledatelja. Ivan Gajski osniva u starom selu NK Seljak, a utakmice su odigravali sa mladićima iz susjednih mjesta. Na kraju Kolodvorske ulice okupljaju se mladići Mata Nikšić, Bucifal, Štefičar, Kudus i ostali igraju utakmice protiv momčadi Kulturbunda. Odigrano je i nekoliko utakmica sa Slatinskim Drenovcem i Miljevcima. Od 3. listopada 1943. prestala je svaka nogometna aktivnost.</p>
        <p><u><b>Razdoblje 1945, - 1948.</b></u><br>Drugi svjetski rat je ostavio strašne posljedice na mjesto. Uništeni su mnogi stambeni i gospodarski objekti te je učinjena velika materijalna šteta. Skoro svi stanovnici njemačke narodnosti su iselili. Što se tiče nogometa došlo je dosta mladih igrača s kojima je trebalo raditi, a toga se uhvatio Paljko Babinko. Igrane su utakmice sa ekipama jugovojske. Nakon početnih poraza, počelo se više raditi na treninzima te se osvaja turnir u Orahovici i to pobjedom od 1:0 nad Feričancima. Te godine dobila se oprema (dresovi, kopačke...), a spremište je bilo u Glavnoj ulici u neiskorištenom poslovnom prostoru koje je ustupio Milan Božičić. Klub je često mijenjao ime, pa se tako spominje i "Vranovac Čačinci".</p>
        <p><u><b>Razdoblje 1949. -1955.</b></u><br>Dolaskom učitelja Vlade Mička 1949. godine u mjesto pojačava se i športska aktivnost. Uz nogomet se počinje igrati i odbojka, a organizira se i športska kladionica. Tu dolaze nova imena u klub: Vilko Matić, Ilija Kalanj, Milan Kukić, Ivan Ses, Oto Zorko, Milan Prijić, Drago Korda, Stjepan Kreko, Vlado Terlecki te igrači koji od prije čine okosnicu kluba. Ta ekipa je osvojila turnir u Orahovici 1951. godine. Promijenilo se ime kluba u <b>Fiskulturni aktiv Mladost Čačinci</b> Nakon što je otišao učitelj Vlado Mička smanjila se športska aktivnost u selu. Također, teren u Eroplanskoj ulici je parceliran za podkućnice. Novo igralište je prebačeno u Mikleušku ulicu, ali ubrzo je i ono parcelirano za podkućnice. Zatim se igralšte prebacilo u Lipovačku ulicu, ali to je igralište bilo kratko i nefunkcionalno. <br> U proljeće 1956. živnula je nogometna aktivnost u selu. Napustilo se igralište na Lipovcu. Za treninge je korišteno igralište u Kolodvorskoj ulici, a za utakmice je izabran teren na staroselskom pašnjaku. Klub dobiva novu upravu na čelu sa predsjednikom Ivom Vukom, a tu su još bili Ljuboja Bolić, Emil Galošević, Stipe Uremović, Đuro Ninić, Ljubica Vinarić. Tada se mijenja ime kluba u <b>Nogometni klub Mladost Čačinci</b>. Pronađeno je mjesto za novo igrališe, a to je mjesto na kojemu je i danas. U srpnju 1957. godine novo igralište je svečano otvoreno, a susreli su se Debeli i Mršavi. </p>
        <%= image_tag "debelimrsavi.png", class: "debeli" %>
        <p>Na slici iznad su u prvome redu: Slavko Petrović, Dušan Šajnović, Vlado Maglaić, Josip Matak, Jovica Stojanović, Emil Galošević, Branko Maglaić. Drugi red: Laci Bartolović, Milan Božičić, Doko Aleksić, Mirko Mužar, Bogdan Dukić, Franc Sveček, Mladen Bogojević, Stipe Uremović, Drago Varga, Ivan Ses, Rudi Terek, Ivan Vuk, Ljuboja Bolić, Stjepan Horvat, Ivan Marić, Zvonko Tomljenović, Ivica Galošević, Stjepan Sečenji, Joško Silađi. To prvenstvo klub nije najbolje završio. Iza Mladosti u poretku su ostali Voćin i Slatinski Drenovac. Moramo napomenuti da se na gostujuće utakmice putovalo traktorom s prikolicom. U prvenstvu 1958./1959. godine, na polusezoni NK Mladost je osvojio prvo mjesto. No, međutim nakon brojnih odlazaka igrača na kraju prvenstva se nije moglo očuvati prvo mjesto.</p>
        <p>Razdoblje od 1956. - 1958. godine je bilo vrlo uspješno za nogometni klub Mladost. Prvenstveno što se tiče organizacijskog dijela. Uprava kluba je postala organizirana cjelina, stvorila je normalne uvjete za rad samog kluba kojega podržavaju sve strukture u mjestu. Pripreme ekipa su vođene volonterski, a veliki odaziv igrača na treninge omogućio je treneru Mataku da u isto vrijeme igraju i dvije ekipe kluba.</p>
        <p>Detaljnije o povijesti kluba NK Mladost možete pročitati u članku koji je napisao gospodin Josip Matak u kolovozu 1994. godine.<br> <%= link_to "Povijest nogometa u Čačincima", "/PovijestNogometaUCacincima.pdf", target: "_blank" %></p>
      </div>
    </div>
  </div>
</div>

