<% provide(:title, "Naslovnica") %>

<%= render "layouts/carousel" %>
<div class="home">
  <div class="home-wrapper">
    <h2 class="home-titles">Najave događanja</h2>
    <%= render "site/partials/upcoming_event" %>

    <%= render "site/partials/interesting_things" %>

    <%= render "site/partials/table_wrapper" %>

    <%= render "site/partials/social" %>

  </div>
</div>
