<% provide(:title, @article.title) %>

<div id="article">
  <div class="article-wrapper">
    <div class="card article-text">
      <%= article_image_tag(@article, :medium) %>
      <h2><%= @article.title %></h2>
      <p class="date"><%= article_date @article %></p>
      <p class="article-content"><%= @article.body %></p>
    </div>
    <div class="card">
      <div class="row">
        <div class="col s6 m6 l6">
          <i class="fa fa-share" aria-hidden="true"></i>
          <span>Podijeli</span>
        </div>
        <div class="col s6 m6 l6">

          <ul class="share-buttons pull-right">
            <li><%= link_to "", "https://twitter.com/share?url=#{request.original_url}", title: "Share on Twitter", popup: true, class: "share-btn fa fa-twitter", target: "_blank" %></li>
            <li><%= link_to "", "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", title: "Share on Facebook", class: "share-btn fa fa-facebook", target: "_blank" %></li>
            <li><%= link_to "", "https://plus.plusgoogle.com/share?url=#{request.original_url}", title: "Share on Google+", class: "fa fa-google-plus", target: "_blank" %></li>
            <li><%= link_to "", "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}", title: "Share on LinkedIn", class: "fa fa-linkedin", target: "_blank" %></li>
            <li><%= mail_to "", "", body: "#{request.original_url}",title: "Send via Email", class: "fa fa-envelope-o" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
