<div class="interesting-things-wrapper">
  <h2 class="home-titles">Zanimljivosti</h2>
  <div class="row">
    <div class="col s12 m12 l4">
      <div class="card card-wrapper">
        <%= image_tag "player.png", class: "player" %>
        <p class="interesting-facts">235</p>
        <h3>odigranih utakmica sa svim selekcijama tijekom kalendarske godine</h3>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <div class="card card-wrapper">
        <%= image_tag "players.png", class: "player" %>
        <p class="interesting-facts">80</p>
        <h3>djece je prisutno u našem klubu koja se natječu u šest kategorija</h3>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <div class="card card-wrapper">
        <%= image_tag "bus.png", class: "player" %>
        <p class="interesting-facts">4700</p>
        <h3>prijeđenih kilometara na gostujuće utakmice sa svim selekcijama </h3>
      </div>
    </div>
  </div>
</div>
