<div class="row">
  <div class="col s12 m6 l6">
    <div class="social">
      <h2 class="home-titles">Pronađite nas na facebook-u</h2>
      <div class="fb-page" data-href="https://www.facebook.com/sdmladostcacinci/" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false"></div>

    </div>
  </div>
  <div class="col s12 m6 l6">
    <h2 class="home-titles">Kontaktirajte nas email-om</h2>
    <p class="home-email"> Ukoliko imate bilo kakvih pitanja slobodno nas kontaktirajte na našu e-mail adresu <br><%= mail_to "nkmladostcacinci@gmail.com", "", class: "fa fa-envelope-o" %></p>
  </div>
</div>
