<div class="table-wrapper">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col s12 m12 l6">
        <div class="card">
          <%= article_image_tag(article, :smallmid) %>
          <div class="article-header">
            <h2><%= link_to_article article %></h2>
            <p><%= md_to_html article.short_description %></p>
          </div>
          <div class="divider"></div>
          <div class="article-footer">
            <p><i class="material-icons">create</i>
            <%= article_date article %>
            <span><%= link_to_article article, text: "Pročitajte više" %></span></p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col s12 m12 l6">
      <% Championship.all.order('points DESC').where("category_id = ?", 2).group_by{|champ| champ.category.name}.each do |category, champs| %>
        <div class="card-panel hoverable card-style">
          <p class="category-name">Prvenstvena ljestvica - <%= category %></p>
          <table class="highlight bordered">
            <thead>
              <tr>
                <th>Mj.</th>
                <th>Ekipa</th>
                <th>O</th>
                <th>P</th>
                <th>N</th>
                <th>I</th>
                <th>GR</th>
                <th>B</th>
              </tr>
            </thead>
            <tbody>
              <% champs.each_with_index do |championship, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= championship.team %></td>
                  <td><%= championship.games_played %></td>
                  <td><%= championship.wins %></td>
                  <td><%= championship.draws %></td>
                  <td><%= championship.lost %></td>
                  <td><%= championship.goal_difference %></td>
                  <td><%= championship.points %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
    </div>
  </div>
</div>
