<div class="event-wrapper ">
  <% Event.order("created_at DESC").limit(1).each do |event| %>
    <p><%= event.competition.name %> -
    <%= event.matchday %><br>
    <%= event.category.name %><br>
    <%= event.game_date.strftime("%d.%m.%Y.") %>
    <%= event.game_time %>h |
    <%= event.place %></p>
    <span class="event-home">
      <%= event.home_team %>
      <%= events_image_tag(event, :medium) %></span> -
    <span class="event-away">
      <%= events_away_tag(event, :medium) %>
      <%= event.away_team %>
    </span>
  <% end %>
</div>
