<% if @images.any? %>

  <div class="row">
    <% @images.each do |image| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to(
            image_tag(image.url_for(:thumb)),
            image.url,
            target: "_blank"
          ) %>
        <span class="label label-default">
          <%= image.width %>x<%= image.height %>px
        </span>
        <button class="btn btn-default btn-xs pull-right choose-image">Odaberi</button>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @images %>

<% else %>

  <p class="well">No images found</p>

<% end %>

