.blog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fafafa;
}
.header-image-wrapper, .blog-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.header-image {
  width: 100%;
  height: 450px;
}
.header-image-wrapper h4 {
  margin-top: -100px;
  font-family: "Itim", cursive;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 64px;
  color: #ffffff;
  opacity: 0.749;
  margin-left: 10%;
}
.blog-wrapper {
  margin-top: 30px;
}
.article-header h2 {
  font-family: "Itim", cursive;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px;
}
.article-header h2 a {
  color: #78909c;
}
.article-header h2 a:hover {
  color: #b71c1c;
}
.article-header p {
  margin: 20px;
  font-family: "Itim", cursive;
  font-size: 16px;
  color: #78909c;
}
.article-footer {
  color: #78909c;
  padding: 10px;
}
.article-footer p {
  margin-left: 20px;
}
.material-icons {
  vertical-align: middle;
  margin-top: -7px;
}
.article-footer p span a {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-family: "Itim", cursive;
  text-transform: uppercase;
  color: #78909c;
}
.article-footer p span a:hover {
  color: #b71c1c;
}

@media(min-width: 1200px) {
  .blog-wrapper {
    width: 990px;
  }
}
