.slider .indicators {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 50px;
  z-index: 30;
}
.slider .indicators .indicator-item {
  height: 10px;
  width: 10px;
  margin: 0px 6px;
}
.slider .indicators .indicator-item.active {
  background-color: #0d47a1;
}
.caption h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 250px;
  margin-left: 0px;
}
.caption h3 a {
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
}
.caption h5 {
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
