#footer {
  background-color: #fafafa;
}
.footer-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 40px;
  margin-bottom: -50px;
  padding-bottom: 10px;
}
.footer-bottom {
  background-color: #90a4ae;
  padding-bottom: 30px;
}
.footer-sponsors {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 20px;
}
.copy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
  padding-top: 20px;
}
.copy a {
  color: #0d417a;
  text-align: left;
}
.footer-social li {
  display: inline-block;
  padding: 15px;
  float: right;
}
.footer-social li a {
  text-decoration: none;
  color: #78909c;
}
.footer-social li a:hover {
  color: #0d417a;
}
@media(min-width: 992px) {
  .footer-wrapper {
    width: 990px;
  }
}
@media(min-width: 1200px) {
  .footer-wrapper {
    width: 1200px;
  }
}
