#header {
  width: 100%;
}
#nav-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 30;
}
#nav-container ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#nav-container ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: #0d47a1;
}
@media (min-width: 200px) and (max-width: 767px) {
  .logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 120px;
    height: 100px;
    margin-top: 10px;
  }
  #nav-container {
    background: #263238;
    opacity: 0.8;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 70%;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    display: block;
    -webkit-transform: translate3d(-600px, 0px, 0px);
    -moz-transform: translate3d(-600px, 0px, 0px);
    -ms-transform: translate3d(-600px, 0px, 0px);
    -o-transform: translate3d(-600px, 0px, 0px);
    transform: translate3d(-600px, 0px, 0px);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  #nav-container.opened {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    background-color: #f9fafa;
  }
  .navigation {
    margin-top: 50px;
  }
  #nav-container li a {
    display: block;
    padding: 7px 0px;
    text-align: center;
  }
  #nav-container li a:hover {
    color: #b71c1c;
  }
  #nav-container li a:active {
    color: #b71c1c;
  }
  #toggle-nav {
    position: absolute;
    display: block;
    height: 70px;
    width: 70px;
    z-index: 30;
  }
  #toggle-nav:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 40px;
    width: 24px;
    height: 3px;
    background: #fff;
    box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
  }
  #close-nav {
    margin: 10px;
    display: block;
    padding: 10px;
    height: 50px;
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    color: #b71c1c;
    text-decoration: none;
    border-bottom: 1px solid #b71c1c;
  }
  #close-nav:after {
    content: '✖';
    padding: 5px 8px;
  }
}
@media (min-width: 768px) {
  #nav-container {
    height: 100px;
    margin-top: 0;
  }
  #nav-container ul {
    float: right;
  }
  #nav-container ul li {
    display: inline-block;
    margin: 25px 7px 0px 7px;
  }
  #nav-container ul li a {
    color: #fff;
    font-size: 14px;
  }
  #close-nav {
    display: none;
  }
  #nav-container ul li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .7s;
  }
  #nav-container ul li a:hover::after {
    width: 100%;
  }
  #nav-container .active a {
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  .logo {
    position: absolute;
    top: 0;
    margin: 10px;
    width: 100px;
    height: 80px;
  }
  .header-wrapper {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 30;
    background-color: #263238;
    opacity: 0.7;
  }
}
@media (min-width: 992px) {
  #nav-container {
    width: 990px;
  }
}
@media(min-width: 1200px) {
  #nav-container {
    width: 1200px;
  }
}
