.history {
  background-color: #fafafa;
}
.history-wrapper, .debeli {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.history-wrapper {
  margin-top: 70px;
}
.history-text {
  background: url(<%= asset_data_uri 'transparentLogoWB.png' %>) no-repeat;
  height: auto;
  background-size: 900px 1140px;
  background-position: 50% 60%;
}
.history-wrapper p {
  margin: 20px;
  color: #78909c;
  font-family: "Itim", cursive;
  font-size: 15px;
}
.history-logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 250px;
  height: 300px;
  display: inline-block;
  margin-top: 20px;
}

@media(min-width: 1200px) {
  .history-wrapper {
    width: 1200px;
  }
}
