.home {
  background: url(<%= asset_data_uri 'transparentLogoWB.png' %>) no-repeat;
  height: auto;
  background-size: 900px 1140px;
  background-position: top center;

}
.home-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.date {
  color: #78909c;
  font-style: italic;
  font-size: 12px;
  font-family: "Itim", cursive;
  margin-top: -20px;
}
.short-description {
  font-family: "Itim", cursive;
}
.smallmid-image {
  width: 100%;
}
/* events section */
.home-titles {
  font-family: "Itim", cursive;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
  color: #78909c;
}
.home-titles:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 0;
  border-bottom: 5px solid #000000;
}
.event-wrapper {
  font-family: "Itim", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #212121;
  margin-top: -10px;
}
.event-home {
  text-transform: uppercase;
  margin-right: 20px;
  color: #212121;
}
.event-away {
  text-transform: uppercase;
  margin-left: 20px;
  color: #212121;
}
.event-logo {
  vertical-align: middle;
}

/* interesting things wrapper */
.interesting-things-wrapper {
  margin-top: 40px;
}
.player {
  width: 70px;
  height: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 5px;
  margin-top: 10px;
}
.interesting-facts {
  text-align: center;
  color: #d32f2f;
  font-size: 18px;
  font-family: "Itim", cursive;
  font-weight: bold;
}
.interesting-things-wrapper h3 {
  font-family: "Itim", cursive;
  font-size: 16px;
  color: #212121;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.card-wrapper {
  background: rgba(204, 204, 204, 0.5);
}
.card-style {
  background: url() no-repeat;
  background-size: contain;
}
/* social media */
.fb-page {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
a.fa.fa-envelope-o {
  font-size: 80px;
  color: #78909c;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.home-email {
  font-family: "Itim", cursive;
  color: #78909c;
  font-size: 16px;
}

@media(min-width: 200px) and (max-width:767px) {
  .home-titles {
    margin-left: 20px;
  }
}
@media(min-width: 992px) {
  .home-wrapper {
    width: 990px;
  }
}
@media(min-width: 1200px) {
  .home-wrapper {
    width: 1200px;
  }
}
