#article {
  background-color: #fafafa;
}
.article-wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 50px;
}
.medium-image {
  width: 100%;
}
.article-wrapper h2 {
  font-family: "Itim", cursive;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
  padding: 0px 20px;
}
.date {
  font-family: "Itim", cursive;
  color: #78909c;
  font-size: 14px;
  padding-left: 20px;
}
.article-content {
  font-family: "Itim", cursive;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 0px 20px 20px 20px;
}
.share-buttons {
  list-style: none;
}
.share-buttons li {
  display: inline-block;
  padding-left: 25px;
}
.share-buttons li a {
  text-decoration: none;
  color: #78909c;
}
.share-buttons li:nth-child(1) a:hover {
  color: #1da1f2;
}
.share-buttons li:nth-child(2) a:hover {
  color: #3b5998;
}
.share-buttons li:nth-child(3) a:hover {
  color: #db4437;
}
.share-buttons li:nth-child(4) a:hover {
  color: #006fa6;
}
.share-buttons li:nth-child(5) a:hover {
  color: #000;
}
.fa-share {
  color: #78909c;
  margin-top: 19px;
}
.article-text {
  background: url(<%= asset_data_uri 'transparentLogoWB.png' %>) no-repeat;
  height: auto;
  background-size: 900px 1140px;
  background-position: 50% -95%;
}
.article-wrapper span {
  font-family: "Itim", cursive;
  text-transform: uppercase;
  color: #78909c;
  font-weight: bold;
}

@media(min-width: 1200px) {
  .article-wrapper {
    width: 950px;
  }
}
