.team-category-wrapper h2 {
  font-family: 'Itim', cursive;
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
.teams-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 40px;
  padding-bottom: 20px;
}
.team-nav {
  background: url(<%= asset_data_uri 'transparentLogoWB.png' %>) no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.team-nav li {
  text-align: center;
  padding: 10px 0px;
  border-bottom: 2px solid #78909c;
}
.team-nav li:last-child {
  border-bottom: none;
}
.team-nav li a {
  font-family: 'Itim', cursive;
  color: #78909c;
  width: 100%;
}
.team-nav li a:hover,
.team-nav li .active a {
  color: #d32f2f;
  font-weight: bold;
  text-transform: uppercase;
}
.team-category-image {
  width: 100%;
  height: auto;
}
.team-players ul li {
  font-family: 'Itim', cursive;
  color: #212121;
  background: url(<%= asset_data_uri 'fPlayer.png' %>) no-repeat left top;
  padding: 3px 0px 3px 30px;
}
.coach {
  font-family: 'Itim', cursive;
  font-size: 16px;
  text-align: left;
}
@media(min-width: 992px) {
  .teams-wrapper {
    width: 992px;
  }
}
@media(min-width: 1200px) {
  .teams-wrapper {
    width: 1200px;
  }
}
