<% provide(:title, "Uredi natjecanje") %>

<div class="form-wrapper">
  <div class="card-panel hoverable">

    <h1>Uredi natjecanje</h1>

    <%= simple_form_for [:admin, @competition] do |f| %>
      <%= render 'form', f: f %>
      <%= f.button :button, "Spremi promjene" %>
    <% end %>
  </div>
</div>
