<% provide(:title,"Popis natjecanja") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Popis natjecanja</h1>
    <%= link_to "Dodaj novo natjecanje", new_admin_competition_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Natjecanje</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @competitions.each do |competition| %>
          <tr>
            <td><%= competition.id %></td>
            <td><%= link_to competition.name, edit_admin_competition_path(competition) %></td>
            <td><%= link_to admin_competition_path(competition), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

