<div class="slider">
  <%= render "layouts/header" %>
  <ul class="slides">
    <% Article.order("created_at DESC").limit(4).each do |article| %>
    <li>
      <%= article_image_tag(article, :large) %>
      <div class="caption left-align">
        <h3><%= link_to_article article %></h3>
        <h5 class="light grey-text text-lighten-3"><%= truncate(article.short_description, length: 90) %></h5>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<%= javascript_include_tag "carousel.js" %>
