<div id="footer">
  <div class="footer-wrapper">
    <h2 class="home-titles">Sponzori</h2>
    <div class="row">
      <div class="col s12 m6 l6">
        <%= image_tag "opcina.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m6 l6">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
      <div class="col s12 m3 l3">
        <%= image_tag "tzcacinci.png", class: "footer-sponsors" %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s8 m6 l6">
        <p class="copy">Copyright © <%= link_to "NK Mladost Čačinci", root_path %></p>
      </div>
      <div class="col s4 m6 l6">
        <ul class="footer-social">
          <li><%= mail_to "nkmladostcacinci@gmail.com", "", class: "fa fa-envelope" %></li>
          <li><%= link_to "", "https://www.facebook.com/sdmladostcacinci", class: "fa fa-facebook" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
