<div id="header">
  <a href="#" id="toggle-nav"></a>
  <div class="header-wrapper">
    <div id="nav-container">
      <a href="#" id="close-nav"></a>
      <%= link_to image_tag("logoMladost.png", class: "logo"), root_path %>
      <%= render_main_menu %>
    </div>
  </div>
</div>
<%= javascript_include_tag "toggle_nav" %>
