<!DOCTYPE html>
<html>
  <head>
    <title>NK Mladost Admin | <%= yield(:title) %></title>
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <%= cloudinary_js_config %>
  </head>
  <body>

    <%= render 'layouts/admin/header' %>
    <%= render 'layouts/admin/sidebar' %>

    <% if notice %>
      <script type="text/javascript">
Materialize.toast('<%= notice %>', 4000, 'rounded')
      </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
Materialize.toast('<%= alert %>', 4000, 'rounded')
      </script>
    <% end %>


    <%= yield %>

    <%= javascript_include_tag "admin/sidebar" %>
  </body>
</html>
