<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NK "Mladost" Čačinci</title>
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&amp;subset=latin-ext" rel="stylesheet">

  </head>
  <body>
  <script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '195472817569177',
    xfbml      : true,
    version    : 'v2.8'
  });
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  </script>

    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>

    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
  </body>
</html>
