<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NK "Mladost" Čačinci</title>
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&amp;subset=latin-ext" rel="stylesheet">

  </head>
  <body>

    <%= yield %>

  </body>
</html>
